.profilePic{
    width: 275px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.userNameText{
    font-size: 4rem;
    text-transform: uppercase;
    background-color: #DCDCDC;
}

.nameContainer{
    text-align: center;
}
