.sSeriesCard{
	margin: 0 auto;
}
.card-img-top{
	max-height: 410px;
}

.tabStyle{
	margin-bottom: 10px;
	font-family: 'Crimson Text', serif;
}

.showInfoContent{
	margin-bottom: 0px;
}

.progressBar{
	margin-bottom: 5px;
	font-family: 'Work Sans', sans-serif;
}

nav a{
	color:#222;
}

.tvRated{
	font-size: .95rem;
}

.titleFont{
	font-family: 'Crimson Text', serif;
}

.tabFont{
	font-family: 'Work Sans', sans-serif;
}
