.sSeriesCard{
	margin: 0 auto;
}
.card-img-top{
	max-height: 410px;
}

.tabStyle{
	margin-bottom: 10px;
}

.showInfoContent{
	margin-bottom: 0px;
}

.progressBar{
	margin-bottom: 5px;
}

nav a{
	color:#222;
}

.tvRated{
	font-size: .95rem;
}
