/* .carousel-item{
    height: 300px;
}
.carousel-item img{
    height: 300px;
}

.mainCaro{
    text-align: center;
}

.carousel-control-next {
    visibility: hidden;
}

.carousel-control-prev {
    visibility: hidden;
} */
.caroImg{
    width: 90%;
    height: 100%;
}

.caroMain{
    text-align: center;
}
