.titleFont{
	font-family: 'Crimson Text', serif;
	font-size: 1.5rem;
}

.mainTextFont{
	font-family: 'Work Sans', sans-serif;
}

.summaryText{
	margin-top: 5%;
	background: #ededed !important;
	font-family: 'Slabo 27px', serif !important;
}
