.btn-link{
	color: #222;
}

.card-body a li{
	color:#222;
}

.card-body li{
	list-style-type: none;
	display: flex;
	margin-bottom: 10px;
}

.accordStyle{
	margin-bottom: 10%;
}

.epiListLinksItem{
	color:#222;
	margin-left: auto;
}
